
/* General Structure and Styles
--------------------------------------------- */
html {
  font-size: percentage(16/$base-font-size); // for `rem`-usage
}
body {
  background-color: #ececec;
  font: normal rem(16)/#{$base-line-height} 'Droid Sans', sans-serif;
  color: #777;
}
.page-frame {
  max-width: #{$page-width}px;
  margin: rem(12) auto;
  padding: 0 rem(30) rem(30);
  background-color: white;
  z-index: 0;
}
.wrap {
  margin: rem(4) 0 0;
  padding: rem(40) 0;
  overflow: hidden;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.main {
  width: auto;
  float: none;
  overflow: hidden;
  @extend .clearfix;
}
.content {
  width: percentage($content-width/$page-width);
  float: left;
  &.full-width {
    width: auto;
    float: none;
  }
}
.secondary {
  width: percentage($secondary-width/$page-width);
  margin-left: percentage($secondary-margin-left/$main-width);
  float: right;
}
.colophon {
  width: percentage($colophon-width/$page-width);
  float: left;
  padding: rem(30) 0 0;
  overflow: hidden;
  font-size: rem(13);
}
.aligncenter,
div.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
a {
  color: $ci-blue;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #777!important;
  text-decoration: underline;
}

@media screen and (max-width: #{$breakpoint-1}px) {
  /* --- General --- */
  .page-frame {
    margin: 0 auto;
    padding: 0 rem(30) rem(30);
    background-color: white;
    z-index: 0;
  }
  .wrap {
    margin: rem(4) 0 0;
    padding: rem(45) 0 0 0;
    overflow: hidden;
  }
}

@media screen and (max-width: #{$breakpoint-2}px) {
  .page-frame {
    padding: 0 rem(30) rem(30) rem(30);
    background-color: white;
  }
  .wrap {
    border-top: none;
  }
  .main,
  .content,
  .secondary {
    width: auto;
    float: none;
  }
  .main {
    overflow: hidden;
  }
}

@media screen and (max-width: #{$breakpoint-2}px) {
  .wrap {
    border-bottom: none;
  }
  .content,
  .secondary {
    width: auto;
    float: none;
  }
}

@media screen and (max-width: #{$breakpoint-3}px) {
  .page-frame {
    padding: rem(40) rem(20) rem(20);
    background-color: white;
  }
}
