
/* Header
--------------------------------------------- */
.site-title {
  padding: rem(21) 0 rem(15);
}
.site-title .logo {
  width: 45%;
  display: block;
}
.site-title img {
  max-width: 100%;
  height: auto;
}
.branding .headerimage {
  width: 100%;
  height: auto;
  margin-top: rem(12);
}

@media screen and (max-width: #{$breakpoint-2}px) {
  .site-title,
  .site-title .logo {
    width: 100%;
    float: none;
  }
  /* --- Header --- */
  .site-title {
    padding: rem(20) 0 rem(30);
  }
  .site-title .logo {
    padding-top: rem(60);
  }
}
