
/* Tablepress
--------------------------------------------- */

$blue: #d9edf7;

/* Table description */
.tablepress-table-description {
  clear: both;
  display: block;
}

.tablepress {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: rem(1);
  border: none;
}

.tablepress th,
.tablepress td {
  padding: rem(8);
  border: none;
  background: none;
  text-align: left;
}
.tablepress tbody td {
  vertical-align: top;
}

/* Fix right column float in many themes */
.tablepress [class*="column"]+[class*="column"]:last-child {
  float: none;
}

/* Horizontal borders */
.tablepress tbody td,
.tablepress tfoot th {
  border-top: 1px solid #ddd;
}
.tablepress tbody tr:first-child td {
  border-top: 0;
}
.tablepress thead th {
  border-bottom: 1px solid #ddd;
}

/* Row background colors */
.tablepress thead th,
.tablepress tfoot th {
  background-color: $blue;
  font-weight: bold;
  vertical-align: middle;
}
.tablepress .odd td {
  background-color: #f9f9f9;
}
.tablepress .even td {
  background-color: white;
}
.tablepress .row-hover tr:hover td {
  background-color: #f3f3f3;
}

/* Reset image layout in tables */
.tablepress img {
  margin: 0;
  padding: 0;
  border: none;
  max-width: none;
}

/* Table wrapper */
.dataTables_wrapper {
  clear: both;
  margin-bottom: 1em;
}
.dataTables_wrapper .tablepress {
  clear: both;
  margin: 0 !important;
}

/* Length Change menu */
.dataTables_length {
  float: left;
  white-space: nowrap;
}

/* Filter/Search */
.dataTables_filter {
  float: right;
  white-space: nowrap;
}

/* Table information */
.dataTables_info {
  clear: both;
  float: left;
  margin: rem(4) 0 0;
}

/* Pagination */
.dataTables_paginate {
  float: right;
  margin: rem(4) 0 0;
  padding: 0 rem(15);
}
/* Two button pagination - previous/next */
.dataTables_paginate a {
  color: #111 !important;
  display: inline-block;
  outline: none;
  position: relative;
  text-decoration: underline;
  text-decoration: none\0/IE; /* Hack for IE8, 9, and IE10pp4, as those have trouble with text-decoration in :after pseudo-elements */
}
.dataTables_paginate .paginate_disabled_previous,
.dataTables_paginate .paginate_disabled_next {
  color: #999 !important;
  text-decoration: none;
}
.paginate_disabled_next,
.paginate_enabled_next {
  margin-left: rem(10);
}
.paginate_enabled_previous:hover,
.paginate_enabled_next:hover {
  cursor: pointer;
  text-decoration: none;
}
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
  @extend .icon;
  @extend .icon-chevron_left;
}
.paginate_disabled_previous:before,
.paginate_enabled_previous:before,
.paginate_disabled_next:after,
.paginate_enabled_next:after {
  text-align: left;
  font-size: rem(14);
  color: #d9edf7;
  text-shadow: 0.1em 0.1em #666;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -rem(14);
  margin: auto;
  height: rem(14);
  width: rem(14);
}
.paginate_disabled_next,
.paginate_enabled_next {
  @extend .icon-chevron_right;
}
.paginate_disabled_next:after,
.paginate_enabled_next:after {
  text-align: right;
  left: auto;
}
.paginate_disabled_previous:before,
.paginate_disabled_next:after {
  color: #f9f9f9;
}
.paginate_enabled_previous:hover:before,
.paginate_enabled_next:hover:after {
  color: #049cdb;
}

/* Full number pagination */
.paging_full_numbers {
  height: rem(22);
  line-height: rem(22);
}
.paging_full_numbers a {
  border: 1px solid #aaa;
  -webkit-border-radius: rem(5);
  border-radius: rem(5);
  padding: rem(2) rem(5);
  margin: 0 rem(3);
  color: #333 !important;
  background-color: #ddd;
}
.paging_full_numbers .paginate_button:hover {
  background-color: #ccc;
}
.paging_full_numbers .paginate_active {
  background-color: #99b3ff;
}

/* Processing indicator */
.dataTables_processing {
  display: none; /* always hidden, we don't use it */
}

/* Scrolling */
.dataTables_scroll {
  clear: both;
}
.dataTables_scrollBody {
  -webkit-overflow-scrolling: touch;
}

/* Sorting */
.dataTables_wrapper .sorting,
.dataTables_wrapper .sorting_asc,
.dataTables_wrapper .sorting_desc {
  padding-right: rem(20); /* more right padding for sort arrows */
  cursor: pointer;
  outline: none;
}
.dataTables_wrapper .sorting div,
.dataTables_wrapper .sorting_asc div,
.dataTables_wrapper .sorting_desc div {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  float: none !important;
}
.dataTables_wrapper .sorting div,
.dataTables_wrapper .sorting_asc div,
.dataTables_wrapper .sorting_desc div {
  @extend .icon;
}
.dataTables_wrapper .sorting div:after,
.dataTables_wrapper .sorting_asc div:after,
.dataTables_wrapper .sorting_desc div:after {
  font-size: rem(14);
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: -rem(14);
  margin: auto;
  height: rem(14);
  padding: rem(1) 0 0;
}
.dataTables_wrapper .sorting div {
  @extend .icon-sort;
}
.dataTables_wrapper .sorting_asc div {
  padding: 0 0 rem(1);
  @extend .icon-caret_up;
}
.dataTables_wrapper .sorting_desc div {
  @extend .icon-caret_down;
}
.dataTables_wrapper .sorting:hover,
.dataTables_wrapper .sorting_asc,
.dataTables_wrapper .sorting_desc {
  background-color: darken($blue, 10%);
}

/* Self clearing - */
.dataTables_wrapper:after {
  content: '';
  display: table;
  clear: both;
}

.dataTables_wrapper label input,
.dataTables_wrapper label select {
  display: inline;
  margin: rem(2);
  width: auto;
}
